/*!
 * Bootstrap via Yarn
 * Copyright 2020 Tungana
 */

// Functions, variables, and mixins must come first.
//
// - Variables and mixins are dependant on functions
// - In order to override Sass's default variables, those default variables must
//   come first
@import "../node_modules/bootstrap/scss/functions";
@import "custom-variables";
// @import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins"; 


// Override variable defaults
//
// Here is where we customize the variables from Bootstrap's `variables.scss`.
// We copy-paste variables we need from that source file, remove the `!default`
// flag, and finally change their values.
// $grid-gutter-width: 10px;
// $body-bg: #ffffff;
// $font-family-sans-serif: "metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-base: $font-family-sans-serif;
// $primary:#99177e;
// $warning: #ff8200;
// $theme-colors: (
//   "primary": #99177e,
//   "success": #78d64b,
//   "info":    #2AD2C9,
//   "warning": #ff8200,
//   "danger":  #f93832
// );

@import "../node_modules/bootstrap/scss/bootstrap";  
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code"; 
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
// @import "../node_modules/bootstrap/scss/forms";
// @import "../node_modules/bootstrap/scss/buttons";
// @import "../node_modules/bootstrap/scss/transitions";
// @import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/input-group";
// @import "../node_modules/bootstrap/scss/custom-forms";
// @import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
// @import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/jumbotron";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/media";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel"; 
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/print";
$green-dark:    #04341D !default;
.btn-primary{
  color: $white;
}
html,
body {
  height: 100%;
}
body {
  font-size: .875rem;
  background: #04341D;
}
.bg-green-dark{
  background: $green-dark;
}

/*
 * Sidebar
 */

.sidebar {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 10px 0 0; /* Height of navbar */
 background: $green-dark;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 77px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar .nav-link {
  font-weight: 500;
  color:$gray-400;
}
.sub-item{
  border-bottom: 1px solid $gray-800;
  .nav-link{
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8rem;
  }
}

.sidebar .nav-link.active {
  color:$white;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-secondary .nav-link {
  font-size: .875rem;
  color: #fff;
}

.nav-secondary .nav-link:hover {
  color: $primary;
}

.nav-secondary .active {
  font-weight: 500;
  color: $primary;
  
}

/*
 * Navbar
 */

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.nav-tabs{
  border:0;
  .nav-link.active{
    border:0;
    border-bottom:3px solid $primary;
    background: transparent;
    color: $primary;
  }
  .nav-link{
    border: 0;
    color: $white;
  }
}
.game-header--title{
  font-size: 0.75rem;
}
.btn-odd{
  font-size: 0.75rem;
  font-weight: bold;
}
.time,.date, .bet-id,.league{
  color: $gray-500;
  font-weight: bold;
  font-size: 0.75rem;
}
.team{
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
}
.time, .league{
  color:$primary;
}
.btn-more {
  font-size: 0.75rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .1);
}
.bet-slip{
  border-radius: 0 0 5px 5px ;
  .card-text{
    font-size: .75rem;
  }
  p {
    margin-bottom: 0.25rem;
  }
  hr {
    margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  }
}
.bet-divider{
  border:1px dashed $gray-200;
}
.btn-slip--left{
  border-radius: 0  0 0 5px;
}
.btn-slip--right{
  border-radius: 0  0 5px 0;
}
.btn-market{
  border-color: rgba(255, 255, 255, .1);
  border-radius: 0;
}
.card--balance{
  border-left: 6px solid $info;
}
.card--bonus{
  border-left: 6px solid $warning;
}
.card--withdrawable{
  border-left: 6px solid $danger;
}
.carousel-caption{
  bottom:25%;
}
.text-shadow{
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}